/* Tipografía utilizadas e imagen de fondo */
body {
    background-image: url("../images/di_banner_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}