/* Colores utilizados en el sitio web */
:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
}

/* Tipografía utilizadas e imagen de fondo */
body {
    font-family: 'Roboto Mono',
        monospace;
    background-image: url("../images/background.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* Tipo de cuadro de representación flex para el elemento nav */
nav {
    display: flex;
}

/* Tipo de cuadro de representación flex para el elemento ul del header y su contenido se ubican
con space-around, se alinean al centro,  
se remueve el padding, 
se agrega una margen */
header ul {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

/* Tipo de cuadro de representación flex para el elemento li del ul del header y su contenido
se ubica con space-between */
header ul li {
    display: flex;
    justify-content: space-between;
}

/* Se remueve la decoración del elemento a del elemento li del ul del header, se le asigna
el color blanco, con un border blanco con un border-radius y se le añade un padding */
header ul li a {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

/* Se le agrega un efecto de hover al elemento a del elemento li del ul del header que 
cambia el color del border y texto a verde */
header ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

/* Tipo de cuadro de representación flex para el elemento h1 del body y su contenido
se justifica al centro, con un texto de color blanco */
body h1 {
    display: flex;
    justify-content: center;
    color: var(--white);
}

/* Tipo de cuadro de representación flex para el elemento section y su contenido
se justifica al centro, con un scroll horizontal y margen*/
section {
    display: flex;
    color: var(--white);
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: center;
    margin: 24px;
}

/* Tipo de cuadro de representación flex para el elemento h2 del main y su contenido
se justifica al centro, con un texto de color blanco */
main h2 {
    display: flex;
    justify-content: center;
    color: var(--white)
}

/* Tipo de cuadro de representación flex para el elemento h3 del body y su contenido
se justifica al centro, con un texto de color blanco */
main h3 {
    display: flex;
    justify-content: center;
    color: var(--white)
}

/* Tipo de cuadro de representación flex para la clase card-section */
.card-section {
    justify-content: unset;
}

/* Agregue sombras para crear el efecto de "tarjeta" */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid var(--white);
    border-radius: 8px;
    height: 50vh;
    margin: 8px;
}

/* Se agrega un padding al elemento img de la clase card */
.card img {
    padding: 4px;
}

/* Al pasar el mouse, agrega una sombra más profunda */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Se agrega algo de relleno dentro del contenedor de la tarjeta */
.container {
    padding: 2px 16px;
}

/* Tipo de cuadro de representación flex para la clase image-section y su contenido
se justifica al centro */
.image-section {
    display: flex;
    justify-content: center;
}

/* Tipo de cuadro de representación flex para el elemento img de la clase image-section,
con un tamaño de ancho del 30%*/
.image-section img {
    display: flex;
    width: 30%;
}

/* Tipo de cuadro de representación flex para el elemento article del elemento section y su
dirección es por columna, con sus elementos alineados al centro, con un tamaño de ancho del 50% y un margen */
section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 24px;
}

/* Tipo de cuadro de representación flex para el elemento ul de la clase sub-nav y su contenido
se justifica al centro, con un tamaño de ancho del 100% */
.sub-nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Se remueve la decoración del elemento a del elemento li del ul de la clase sub-nav, se le asigna
el color blanco, con un border blanco con un border-radius y se le añade un padding */
.sub-nav ul li a {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin: 24px;
}

/* Se le agrega un efecto de hover al elemento a del elemento li del ul de la clase sub-nav que 
cambia el color del border y texto a verde */
.sub-nav ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

/* Tipo de cuadro de representación grid para la clase people-section con tres columnas */
.people-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Tipo de cuadro de representación flex para la clase container-people-section y su contenido
se justifica con space-around, con un margen, espaciado y border con border-radius */
.container-people-section {
    margin: 24px;
    border: 2px solid var(--white);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Se asigna el tamaño de alto a 8vw a la clase img-people-section */
.img-people-section {
    height: 8vw;
}

/* Tipo de cuadro de representación flex para la clase link-container-people-section y su contenido
se justifica al centro */
.link-container-people-section {
    display: flex;
    justify-content: center;
}

/* Tipo de cuadro de representación flex para la clase anexo-inf-people-section y su contenido
se justifica al centro sin decoración de texto, texto color blanco y un border con border radius,
con un tamaño de ancho de 25% y un margen */
.anexo-inf-people-section {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 8px;
    width: 25%;
    margin: 12px;
}

/* Se le agrega un efecto de hover a la clase anexo-inf-people-section que 
cambia el color del border y texto a verde */
.anexo-inf-people-section:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green)
}

/* Tipo de cuadro de representación flex para el elemento h2 del body y su contenido
se justifica al centro */
body h2 {
    display: flex;
    justify-content: center;
}

/* Se asigna el color de texto blanco y un margen a la clase section-title */
.section-title {
    color: var(--white);
    margin: 24px;
}

/* Tipo de cuadro de representación flex para el elemento h3 del body y su contenido
se justifica al centro */
body h3 {
    display: flex;
    justify-content: center;
}

/* Se asigna el color de texto blanco a la clase section-subtitle */
.section-subtitle {
    color: var(--white);
}

/* Tipo de cuadro de representación grid para la clase investigators-section con una columna, su contenido 
se justifca al centro */
.investigators-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

/* Tipo de cuadro de representación flex para la clase container-activities-section, sus elementos
se justifcan al centro, con un margen */
.container-investigator-section {
    display: flex;
    align-items: center;
    margin: 24px;
}

/* Se asigna un tamaño de altura de 12vw al elemento img de la clase container-investigator-section */
.container-investigator-section img {
    height: 12vw;
}

/* Tipo de cuadro de representación flex para la clase inf-activities-section, con flex-direction de columna,
con un margen */
.inf-investigator-section {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

/* Tipo de cuadro de representación grid para la clase activities-section con una columna, su contenido 
se justifca al centro, con un tamaño ancho de 75% */
.activities-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 75%;
}

/* Tipo de cuadro de representación flex para la clase container-section y su contenido
se justifica al centro */
.container-section {
    display: flex;
    justify-content: center;
}

/* Tipo de cuadro de representación grid para la clase inf-section con una columna y un margen */
.inf-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 24px;
}

/* La clase img-section se alinea al centro y se justifica al centro,
con un tamaño de alto de 20vw */
.img-section {
    align-self: center;
    justify-self: center;
    height: 20vw;
}

/* Se asigna el tamaño del ancho a 75% para la clase lunar-container-section */
.lunar-container-section {
    width: 75%;
}

/* Tipo de cuadro de representación flex para la clase credits-section y su contenido se 
justifica al centro */
.credits-section {
    display: flex;
    justify-content: center;
}

/* Se asigna el color blanco al link */
.credit-link {
    color: var(--white);
}