/* Colores utilizados en el sitio web */
:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
}

/* Tipografía utilizadas e imagen de fondo */
body {
    background-image: url("../images/background.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}